/* Variables */

:root {
  --basic-neutral-gray:#f2f2f2;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-gray: #eeeeee;
  --basic-black: #333333;
  --basic-bold-black: #000000;

  --basic-brown-hover:  #604e43;
  --basic-brown-active: #503e33;
  --basic-blue-hover: #669ec0;
  --basic-blue-active: #5496bd;

  --brown-text-opacity : rgba(255, 255, 255, 0.5);
  --white-footer-opacity:  rgba(255, 255, 255, 0.9);
  --black-opacity:  rgba(0, 0, 0, 0.3);
  --max-opacity:rgba(0, 0, 0, 0);
  --bar-opacity:  rgba(255, 255, 255, 0.3);

  --gray-button-direction:  #cacaca;
  --rating-text: #666666;
  --calendar: #a9a9a9;
  --hover-input: #ebebeb;
  --input-border: #e5e5e5;
    
  --special: #766357;
  }

/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans"),
  url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSansBold"),
  url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}

/* Global */

body {
  max-width: 1200px;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-neutral-gray);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  width: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px var(--black-opacity);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height:auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-bold-black);
  background-color: transparent;
}

.main-header {
  background-color: var(--basic-white);
  min-height: 56px;
  position: relative; 
}

.site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px 72px;
  text-align: center;
}

.site-navigation a:hover,
.site-navigation a:visited:hover {
  color: var(--basic-blue);
}

.site-navigation a {
  color: var(--basic-bold-black);
}

.site-navigation a:active,
.site-navigation a:visited:active {
  color: var(--basic-bold-black);
  opacity: 0.3;
}

.site-navigation a:visited {
  color: var(--basic-bold-black);
}

.site-navigation li {
  padding-top: 15px;
  min-width: 200px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(3) {
  margin-left: 173px;
}

.main-header-logo {
  position: absolute;
  left: 530px;
  z-index: 1;
}

/* Main */

.container {
 display: grid;
 grid-template-rows: min-content min-content auto;
 padding: 0px;
 margin: 0px;
}

.welcome-highlight {
  height: 509px;
  background: url(../img/mask.svg) no-repeat bottom,
              url(../img/main-background.jpg) no-repeat;
  background-color: var(--calendar);
}


.welcome-highlight img {
  padding: 77px 371px;
}


.main-description {
  background-color: var(--basic-white);
  min-height: 216px;
}

.main-description h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-bold-black);
  text-align: center;
  margin-top: 42px;
  margin-left: 366px;
  width: 470px;
}

.main-description p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-align: center;
  margin-top: 44px;
}

/* features-section */

.features-section {
  padding: 0px;
  margin: 0px;
}

.features-list {
  display: grid;
  grid-template-rows: 256px min-content 256px 256px;
  list-style: none;
}

.feature {
  background-color: var(--basic-blue);
  padding: 0px;
  margin: 0px;
}

.feature-first {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.feature-second {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.feature-container {
  display :grid;
  justify-items: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.feature h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  text-align: center;
}

.feature-first h2 {
  margin-top: 42px;
}

.feature-second h2 {
  margin-top: 46px;
}

.feature span, 
.feature p  {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
  text-align: center;
}

.feature-first p {
  margin-top: 19px;
  margin-bottom: 51px;
  width: 297px;
}

.feature-second p {
  width: 301px;
  margin-top: 17px;
  margin-bottom: 50px;
}

/* Recommandation */

.recommendation {
  background-color: var(--basic-white);
  min-height: 330px;
  width: 1200px;
}

.recommend-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  min-height: 330px;
}

.recommend-item {
  position: relative;
  text-align: center;
  margin-top: 160px;
}

.recommend-item svg {
 position: absolute;
 top: -100px;
 right: 110px;
}

.recommend-item .souvenirs-icon {
  top: -105px;
  right: 116px;
}

.recommend-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-bold-black);
  margin-top: 0px;
}

.recommend-item p {
  display: block;
  width: 297px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin-top: 25px;
  color: var(--basic-bold-black);
}

/* features */

.features {
  background-color: var(--basic-gray);
  min-height: 256px;
  z-index: 4;
  width: 1200px;
}

.features-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  min-height: 256px;
}

.features-item {
  text-align: center;
  margin-top: 47px;
}

.feature-third {
  margin-left: 96px;
}

.feature-fifth {
  margin-right: 71px;
}

.features-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  width: 119px;
  margin-top: 0px;
  color: var(--basic-bold-black);
  margin-left: 45px;
}

.features-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin-left: -25px;
  margin-top: 22px;
  width: 258px;
  color: var(--basic-black);
}

.features-item span {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  width: 51px;
  margin-top: 27px;
  color: var(--basic-black);
  padding-left: 80px;
}

/* hotels-search */

.hotels-search {
  background-color: var(--basic-white);
  margin: 0px;
  padding: 0px;
  position: relative;
  min-height: 764px;
  z-index: 2;
}

.hotel-container {
  position: absolute;
  width: 1200px;
  margin-top: 0px;
  height: 291px;
  background-color: var(--basic-white);
  z-index: 4;
}

.hotels-search h2 {
  margin: 0px;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-bold-black);
  text-align: center;
  min-width: 435px;
  padding-top: 56px;
}

.hotels-search p {
  display: block;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  text-align: center;
  padding-top: 19px;
  margin-bottom: 44px;
}

.search-button {
  padding: 30px 125px;
  width: 568px; 
  right: 316px;
  height: 86px;
  margin-left: 316px;
}

 .hotels-search iframe {
   border: none;
   margin-top: 291px;
   height: 474px;
   z-index: 2; 
   margin-bottom: -5px;
 }

 .hotels-search img {
  position: absolute;
  top: 291px;
  left: 0px;
  z-index: -1;
}

/* buttons */

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button-brown {
  background-color: var(--special);
}

.button-brown:hover,
.button-brown:focus {
  background-color: var(--basic-brown-hover);
}

.button-brown:active {
  background-color: var(--basic-brown-active);
  color: var(--brown-text-opacity);
  outline: none;
}

.button-blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.button-blue:hover,
.button-blue:focus {
  background-color:var(--basic-blue-hover);
  color: var(--basic-white);
}

.button-blue:active {
  background-color: var(--basic-blue-active);
  color: var(--brown-text-opacity);
  outline: none;
}

/* main footer */

.page-footer {
  color: var(--basic-bold-black);
  background-color: var(--basic-white);
  min-height: 120px;
}

.main-footer {
  background: var(--white-footer-opacity);
  z-index: 4;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.footer-contacts {
  color: var(--basic-bold-black);
  margin: 0px;
}

.footer-contacts h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 22px;
  margin-left: 168px;
  width: 166px;
}

.footer-contacts p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 125px;
  margin-top: -12px;
}

.footer-contacts a {
  color: var(--basic-bold-black)
}

.footer-social {
  justify-self: center;
  text-align: center;
}

.footer-social ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-social a {
  min-width: 46px;
  min-height: 48px;
  display: block;
  background-color: var(--basic-blue);
  position: relative;
  margin-top: 11px;
}

.footer-social svg {
  fill: var(--basic-white);
}

.footer-social .twitter {
  position: absolute;
  top: 16px;
  left: 15px;
}

.footer-social .fb {
  position: absolute;
  top: 13px;
  left: 17px;
}

.footer-social .youtube {
  position: absolute;
  top: 16px;
  left: 13px;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-bold-black);
  justify-self: end;
  margin-top: 17px;
  margin-right: 138px;
  position: relative;
}

.footer-copyright span {
  position: absolute;
  width: 74px;
  right: 123px;
  top: 9px;
}


.copyright-button svg:hover,
.copyright-button svg:focus {
  fill: var(--basic-blue-hover);
}

.copyright-button svg:active,
.social-button:active > svg {
  opacity: 0.3;
}

.copyright-button span {
  color: var(--basic-bold-black);
}

/* modal */

.modal {
  background-color: var(--basic-white);
  z-index: 3;
}

.modal-hotels {
  position: absolute;
  width: 568px;
  height: 395px;
  top: 290px;
  left: 316px;
}

.modal-hotels form {
  height: 285px;
  width: 457px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 55px;
  margin-left: 55px;
  position: relative;
}

.modal-show-up {
  animation-name: lift-up;
  animation-duration: 1s;
  transform: translateY(-395px);
}

.modal-show-down {
  animation-name: lift-down;
  animation-duration: 1s;
}

.search-form fieldset {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: inherit;
  font-style: normal;
  color: var(--basic-bold-black);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  height: 38px;
  border: none;
  margin: 0;
  padding: 0;
}

.search-form .date-container {
  width: 457px;
  position: relative;
}

.search-form .date-container:nth-child(2) {
  margin-top: 2px;
}

.date-container button {
  position: absolute;
  left: 429px;
  top: 6px;
  width: 21px;
  height: 23px;
  border: none;
  padding: 0px;
  background-color: inherit;
}

.count-container .cross {
  position: absolute;
  left:200px;
  top: 10px;
  width: 11px;
  height: 11px;
  border: none;
  padding: 0;
  background-color: inherit;
}

.count-container .minus {
  position: absolute;
  left:126px;
  top: 8px;
  width: 11px;
  height: 11px;
  border: none;
  padding: 0;
  background-color: inherit;
}

.children-container .cross {
  left: 205px;
}

.children-container .minus {
  left: 129px;
}

.modal-hotels input {
  border: none; 
  background-color: var(--basic-neutral-gray);
  height: 38px;
  width: 331px;
  font-family: inherit;
  font-style: inherit;
  text-transform: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0px;
}

.modal-hotels input:hover,
.modal-hotels input:focus {
  background-color: var(--hover-input);
}

.modal-hotels input:active {
  background-color: var(--basic-white);
  outline: 2px solid var(--input-border);
  outline-offset: -2px;
}

.date-container input {
  padding-left: 15px;
}

.count-container .adults::-webkit-inner-spin-button,
.count-container .adults::-webkit-outer-spin-button, 
.count-container .children::-webkit-inner-spin-button,
.count-container .children::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    
}

.count-container .adults,
.count-container .adults, 
.count-container .children,
.count-container .children {
  -moz-appearance:textfield;
}

.modal-hotels .count-container {
  width: 228px;
  position: relative;
  margin-top: 4px;
}

.search-form .adults,
.search-form .children {
  width: 114px;
  text-align: center;
}

.modal-hotels label {
  height: 26px;
  width: 100px;
  padding-top: 6px;
}

.modal-hotels .children-label {
  padding-left: 50px;
  width: auto;
}

.modal-button {
  align-self: flex-end;
  width: 458px;
  height:58px;
  text-align: center;
}

.calendar svg,
.cross svg,
.minus svg {
  fill: var(--calendar);
}

.calendar:hover svg,
.cross:hover svg,
.calendar:focus svg,
.minus:focus svg,
.cross:focus svg,
.minus:hover svg {
  fill: var(--basic-bold-black);
}

.calendar:active svg,
.cross:active svg,
.minus:active svg  {
  fill: var(--basic-blue-hover);
}

.modal-off {
  display: none;
}

.modal-error {
  animation: shake 0.6s;
}

/* Animations */

@keyframes lift-up {
  from {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-395px);
    display: none;
  }
  
}

@keyframes lift-down {
  from {
    transform: translateY(-395px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* HOTELS (inner) PAGE */

.inner-page-container {
  display: grid;
  grid-template-rows: min-content min-content auto;
  padding: 0px;
  margin: 0px;
  
 }

.inner-page .current-navigation,
.inner-page .current-navigation:visited {
  color: var(--special);
}

/* hotel-filter */

.filter-form {
  color: var(--basic-white); 
  background: url(../img/filter-background.jpg) no-repeat;
  background-color: var(--calendar);
  min-width: 1200px;
  min-height: 217px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hotel-filter ul {
  list-style:none;
  margin: 0px;
  padding: 0px;
}

.hotel-filter legend {
  margin: 0px;
  padding: 0px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.checkbox-container label {
  padding-left: 40px;
}

.check_box {
  position: absolute;
  margin-left: -40px;
  background-image: url(../img/checkbox-off.svg);
  width: 23px;
  height: 23px;
}

.check_input:focus + .check_box {
  outline: 3px solid var(--basic-bold-black);
}

.check_input:checked + .check_box {
  width: 26px;
  background-image: url(../img/checkbox-on.svg);
}

.check_input:disabled + .check_box {
  background-image: url(../img/checkbox-disabled-off.svg);
}

.check_input:disabled:checked + .check_box {
  width: 26px;
  background-image: url(../img/checkbox-on-disabled.svg);
}

.checkbox-container,
.price-container {
  margin: 0;
  margin-top: 27px;
  padding: 0;
  border: none;
}

.checkbox-container li {
  margin-top: 25px;
}

.hotel-options {
  margin-left: 72px;
}

.hotel-type {
  margin-left: -72px;
}

.price-container {
  margin-left: 10px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 260px;
}

.range-filter {
  width: 317px;
  margin-top: 11px;
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: bold;
}

.range-controls {
  position: relative;
  height: 40px;
  padding-top: 20px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--bar-opacity);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--gray-button-direction);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--calendar);
  cursor: pointer;
}

.range-controls .toggle:hover {
  border: 9px solid var(--basic-white);
}

.price-controls {
  display: flex;
  position: relative;
  justify-content: space-between;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  height: 32px;
}

.price-controls .border-side {
  position: absolute;
  background-color: var(--basic-white);
  width: 2px;
  height: 22px;
  top: 6px;
  left: 156px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 14px;
  line-height: inherit;
}

.price-controls label:first-child {
  margin-left: 65px;
}

.price-controls label:last-child{
  margin-right: 42px;
}

.price-controls input {
  width: 35px;
  margin-left: -1px;
  margin-top: -2px;
  height: 32px;
  text-align: left;
  color: var(--basic-white);
  border: none;
  border-radius: 5px;
  background: var(--max-opacity);
  font-family: inherit;
  font-size: 14px;
  line-height: inherit;
}

.price-controls input::-webkit-inner-spin-button,
.price-controls input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.price-controls input {
  -moz-appearance:textfield;
}

.filter-button {
  background: var(--max-opacity);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  color: var(--basic-white);
  width: 137px;
  height: 36px;
  margin-top: -6px;
  margin-left: 85px;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 14px;
  line-height: inherit;
}

.filter-button:hover {
  background: var(--basic-white);
  color: var(--basic-bold-black);
}

/* sort-results */

.sort-results {
  background-color: var(--basic-white);
  margin-bottom: 2px;
  display: flex;
  min-height: 86px;
}

.sort-results h2,
.sort-results span {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-bold-black);
  margin-top: 30px;
}

.sort-results h2 {
  margin-left: 73px;
}

.sort-results span {
  margin-left: 5px;
}

.sort-results p,
.sort-list li {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-bold-black);
}

.sort-results p {
  margin-top: 5px;
  margin-left: 46px;
  align-self: center;
}

.sort-list {
  list-style:none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.sort-results li {
  margin-left: 33px;
  margin-top: -5px;
  align-self: center;
}

.sort-results li:first-child {
  margin-left: 40px;
}

.sort-list a {
  color: var(--black-opacity);
  border:none;
  border-bottom: 1px dotted var(--basic-blue-hover);
  background-color: var(--basic-white);
  padding: 0px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list .sort-enabled a {
  color: var(--basic-blue);
  border:none;
}

.sort-list a:hover, 
.sort-list  a:focus {
  color: var(--basic-blue);
}

.sort-list a:active {
  outline:none;
  color: var(--basic-bold-black);
}

.up-down-filter {
  margin-left: auto;
  align-self: center;
  margin-right: 65px;
}

.button-up,
.button-down {
  display: inline-block;
  vertical-align: top;
  background: var(--basic-white);
  width: 20px;
  height: 22px;
  margin-top: 13px;
}

.button-up svg {
  transform: rotate(-180deg) translateX(-1px) translateY(4px);
  fill: var(--gray-button-direction);
}

.button-down {
  margin-left: 0px;
}

.button-down svg {
  transform: translateX(1px) translateY(-4px);
  fill: var(--gray-button-direction);
}

.button-up:focus svg,
.button-down:focus svg,
.button-up:hover svg,
.button-down:hover svg {
  fill: var(--basic-bold-black);
}

.button-up:active svg,
.button-down:active svg {
  fill: var(--basic-blue);
  outline: none;
}

.up-down-filter .active {
  fill: var(--basic-blue);
}

/* results */

.results-list {
  list-style:none;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0px;
  padding: 0px;
}

.results .hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-bold-black);
}

.results p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
}


.results-list li {
  background-color: var(--basic-white);
  display: grid;
  margin: 0px;
  padding: 0px;
  grid-template-columns: 135px 1fr auto;
  margin-bottom: 1px;
  min-height: 150px;
  
}

.results-list img {
  display: block;
  margin-left: 72px;
  margin-top: 29px;
}

.results-list h3 {
  margin-top: 24px;
  margin-left: 1px;
  max-width: 750px;
}

.results-list .result-description {
  margin-left: 100px;
  margin-bottom: 30px;
}

.results-list .description-container {
  display: grid;
  grid-template-columns: min-content min-content;
}

.results-list .type {
  width: 107px;
  height: 21px;
  margin-top: -14px;
  margin-left: 2px;
}

.results-list .price {
  width: 96px;
  height: 21px;
  margin-top: -14px;
  margin-left: 8px;
}

.results-list .button-blue {
  display: inline-block;
  vertical-align: top;
  min-width: 110px;
  min-height: 24px;
  font-size: 14px;
  line-height: 21px;
  padding-top: 3px;
  margin-left: 2px;
}

.results-list .button-brown {
  display: inline-block;
  vertical-align: top;
  width: 142px;
  height: 24px;
  font-size: 14px;
  line-height: 21px;
  padding-top: 3px;
  margin-left: 2px;
}

.results-list .rating {
  margin-top: 91px;
  margin-right: 73px;
  height: 27px;
  width: 110px;
  text-align: center;
}

.rating-container {
  display: flex;
}

.results-list .rating {
  background-color: var(--basic-neutral-gray);
  color: var(--rating-text);
  padding-top: 3px;
}

.stars {
  background: url(../img/star.svg) space round;
  margin-top: 28px;
  margin-right: -112px;
  height: 17px;
  width: 112px;
}

.four-stars {
  width: 93px;
}

.three-stars {
  width: 68px;
}

.two-stars {
  width: 43px;
}

.hotel-page:hover .hotel-name,
.hotel-page:visited:hover .hotel-name {
  color: var(--basic-blue);
}

.hotel-page:active .hotel-name,
.hotel-page:visited:active .hotel-name {
  color: var(--basic-bold-black);
  opacity: 0.3;
}

