/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans"),
  url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff2") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSansBold"),
  url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff2") format("woff");
}

/* Variables */

:root {
  --basic-neutral-gray:#f2f2f2;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-gray: #eeeeee;
  --basic-black: #333333;
  --basic-bold-black: #000000;

  --basic-brown-hover:  #604e43;
  --basic-brown-active: #503e33;
  --basic-blue-hover: #669ec0;
  --basic-blue-active: #5496bd;

  --brown-text-opacity : rgba(255, 255, 255, 0.5);
  --white-footer-opacity:  rgba(255, 255, 255, 0.7);
  --black-opacity:  rgba(0, 0, 0, 0.3);

  --gray-button-direction:  #cacaca;
  --rating-text: #666666;
    
  --special: #766357;
  }

/* Global */

body {
  max-width: 1200px;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-neutral-gray);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  width: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px var(--black-opacity);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height:auto;
}

.visually-hidden {
  visibility: hidden;
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-bold-black);
  background-color: transparent;
  grid-area: 1/1;
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
  display: grid;
  height: 56px;
}

.site-navigation {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0px;
  padding: 0px 72px;
  text-align: center;
}

.site-navigation a:hover,
.site-navigation a:visited:hover {
  color: var(--basic-blue);
}

.site-navigation a:active,
.site-navigation a:visited:active {
  color: var(--basic-bold-black);
  opacity: 0.3;
}

.site-navigation a:visited {
  color: var(--basic-bold-black);
}

.site-navigation li {
  padding-top: 15px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
  outline: 5px solid rgba(188, 202, 108, 0.7);
  outline-offset: -5px;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
  outline: 5px solid rgba(188, 202, 108, 0.7);
  outline-offset: -5px;
}

.main-header {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.main-header-logo {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  justify-self: center;
  grid-area: 1/1;
  z-index: 1;
}


/* Main */
.container {
 display: grid;
 grid-template-rows: min-content min-content 256px auto 256px 256px auto;
 padding: 0px;
 margin: 0px;
 outline: 5px solid rgba(243, 179, 4, 0.7);
 outline-offset: -5px;
}

.welcome-highlight {
  height: 509px;
  background: url(../img/mask.svg) no-repeat bottom,
              url(../img/main-background.jpg) no-repeat;
  outline: 5px solid rgba(82, 65, 18, 0.7);
  outline-offset: -5px;
}


.welcome-highlight img {
  padding: 20px 371px;
}


.main-description {
  background-color: var(--basic-white);
  outline: 5px solid rgba(0, 255, 255 , 0.3);
}

.main-description h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-bold-black);
  text-align: center;
}

.main-description p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-align: center;
}

/* feature */

.feature {
  background-color: var(--basic-blue);
  display: grid;
  grid-template-columns: 1fr 2fr;
  outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.feature-first {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.feature-second {
  display: grid;
  grid-template-columns: 2fr 1fr;
  
}

.feature-container {
  outline: 5px solid rgba(188, 202, 108, 0.7);
  outline-offset: -5px;
  display :grid;
  justify-items: center;
  align-items: center;
}

.feature img {
  outline: 5px solid rgba(188, 202, 108, 0.7);
  outline-offset: -5px;
}

.feature h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  text-align: center;
}

.feature span, 
.feature p  {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
  text-align: center;
}

/* Recommandation */

.recommendation {
  background-color: var(--basic-white);
  outline: 5px solid rgba(21, 6, 231, 0.7);
  outline-offset: -10px;
}

.recommend-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  column-gap: 20px;
}

.recommend-item {
  text-align: center;
  outline: 5px solid rgba(84, 72, 241, 0.7);
}


.recommend-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-bold-black);
}

.recommend-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-bold-black);
}

/* features */

.features {
  background-color: var(--basic-gray);
  display: grid;
}

.features-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  align-items: center;
  outline: 5px solid rgba(84, 72, 241, 0.7);
}

.features-item {
  text-align: center;
  outline: 5px solid rgba(154, 148, 241, 0.7);
}

.features-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-bold-black);
}

.features-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
}

.features-item span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
}

/* hotels-search */

.hotels-search {
  background-color: var(--basic-white);
  outline: 5px solid rgba(19, 205, 238, 0.7);
  display: grid;
  margin: 0px;
  padding: 0px;
  justify-items: center;
  align-items: center;
}

.hotels-search h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-bold-black);
  text-align: center;
}

.hotels-search p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  text-align: center;
}

.search-button {
  margin-right: auto;
  margin-left: auto;
  padding: 30px 125px;
}


/* buttons */

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button-brown {
  background-color: var(--special);
}

.button-brown:hover {
  background-color: var(--basic-brown-hover);
}

.button-brown:active,
.button-brown:focus {
  background-color: var(--basic-brown-active);
  color: var(--brown-text-opacity);
}

.button-blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.button-blue:hover {
  background-color:var(--basic-blue-hover);
  color: var(--basic-white);
}

.button-blue:active,
.button-blue:focus {
  background-color: var(--basic-blue-active);
  color: var(--brown-text-opacity);
}

/* main footer */

.page-footer {
  color: var(--basic-bold-black);
  background-color: var(--basic-white);
}

.main-footer {
  background: var(--white-footer-opacity);
  display:grid;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.footer-container {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  align-items: center;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-bold-black);
  text-align: center;
  outline: 5px solid rgba(228, 149, 31, 0.7);
  outline-offset: -10px;
}

.footer-social {
  text-align: center;
  outline: 5px solid rgba(228, 149, 31, 0.7);
  outline-offset: -10px;
  justify-self: center;
}

.footer-social ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-bold-black);
  outline: 5px solid rgba(228, 149, 31, 0.7);
  outline-offset: -10px;
  justify-self: end;
}

.copyright-button svg:hover {
  fill: var(--basic-blue-hover);
}

.copyright-button svg:active,
.copyright-button svg:focus {
  opacity: 0.3;
}

.copyright-button span {
  color: var(--basic-bold-black);
}

/* modal */

.modal {
  background-color: var(--basic-white); 
}


/* HOTELS (inner) PAGE */

.inner-page .current-navigation,
.inner-page .current-navigation:visited {
  color: var(--special);
}

/* hotel-filter */

.hotel-filter {
  color: var(--basic-white); 
}

/* sort-results */

.sort-results {
  background-color: var(--basic-white);
}

.sort-results h2,
.sort-results span {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-bold-black);
}

.sort-results p,
.sort-list li {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-bold-black);
}

.sort-list {
  list-style:none;
}

.sort-list button {
color: var(--black-opacity);
 text-decoration: underline dashed var(--basic-blue-hover);
 border:none;
 background-color: var(--basic-white);
}

.sort-list .sort-enabled button,
.sort-list  button:focus {
  color: var(--basic-blue);
  text-decoration: none;
  outline:none;
}

.sort-list button:hover {
  color: var(--basic-blue);
}

.sort-list button:active {
  outline:none;
  color: var(--basic-bold-black);
}

.button-up,
.button-down {
  background: var(--gray-button-direction);
  border: none;
  outline:none;
}

.button-up:hover,
.button-down:hover {
  background: var(--basic-bold-black);
}

.button-up:focus,
.button-down:focus,
.button-up:active,
.button-down:active {
  background: var(--basic-blue);
}

/* results */

.results-list {
  list-style:none;
}

.results .hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-bold-black);
}

.results p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
}

.results-list p:last-child {
  background-color: var(--basic-neutral-gray);
  color: var(--rating-text);
}

.results-list li {
  background-color: var(--basic-white);
}

.hotel-page:hover .hotel-name,
.hotel-page:visited:hover .hotel-name {
  color: var(--basic-blue);
}

.hotel-page:active .hotel-name,
.hotel-page:visited:active .hotel-name {
  color: var(--basic-bold-black);
  opacity: 0.3;
}

